
*{
  /*border:1px solid red;*/
}

body{
    background-image: url('https://i.pinimg.com/originals/c7/c4/b9/c7c4b9bda7a42c1b6717680bae69ba2e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    dispaly: flex;
    justify-content: center;
}
.title{
  text-align: center;
  height: 200px;
  font-size: 40px;
  align-self: center;
  font-family: 'Knewave', cursive;
  color: white;
}

#character{
  background-size: 100% !important;
  background-image: url('/Users/cynthia/wdi/unit01/projects/Uni1-1-Project-Maze/images/solo scuba left.gif');
  background-repeat: no-repeat;
  height: 61px;
  width: 100px;
  top: 215px;
  left: 925px;
  position: absolute;
  color: white;
  font-size: 10px;
  z-index: 1;
  animation: slideout 2s ;
}

@keyframes slideout {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.box{
  height: 100px;
  width: 100px;
  background-color: #0094c8;
  opacity: .5;
  margin: 0;
}

.maze{
  /*display: flex;*/
  background-repeat: no-repeat;
  /*border: 1px solid blue;*/
  background-size: contain;
  background-position: center;
/*  max-width: 700px;
  flex-wrap: wrap;*/
  justify-content: center;
}

.lilMaze{
  display: flex;
  max-width: 630px;
  flex-wrap: wrap;
  margin: 0 auto;
}


#box1{
  border-top: 5px solid black;
  /*border-right: 5px solid black;*/
  /*border-bottom: 5px solid black;*/
  border-left: 5px solid black;
}

#box2{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box3{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box4{
 border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box5{
 border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box6{
  border-top: 5px solid rgba(255,255,255,0);
  border-right: 5px solid black;
/*  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;*/
  padding-left: 10px;
}

#box7{
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  /*border-bottom: 5px solid transparent;*/
  border-left: 5px solid black;
}

#box8{
  border-top: 5px solid transparent;
*//*  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box9{
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box10{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /**/
}

#box11{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box12{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*//*  border-left: 5px solid black;
*/padding-left: 5px
}

#box13{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  border-left: 5px solid black;
padding-bottom: 5px;
}

#box14{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black*/;
/*  border-left: 5px solid black;
*/}

#box15{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*//*  border-left: 5px solid black;
*/ padding-left: 5px;
}

#box16{
/*  border-top: 5px solid black;
*/  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black*/;
padding-bottom: 5px;
}

#box17{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box18{
/*  border-top: 5px solid black;*/
  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/ padding-bottom: 5px;
}

#box19{
/*  border-top: 5px solid black;
*//*border-right: 5px solid black;*/
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  padding-top: 5px;
}

#box20{
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/}

#box21{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
  /*border-left: 5px solid black;*/
  padding-top: 5px;

}

#box22{
/*  border-top: 5px solid black;
*/  /*border-right: 5px solid black;*/
  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/ padding-left: 5px;
padding-top: 5px;
}

#box23{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
  border-left: 5px solid black;
  padding-top: 5px;

}

#box24{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/}

#vWall1{
  border-right :5px solid red;
  border-top :5px solid red;
  height: 100px;
}

#end{
  width:50px;
  border-top:5px solid red;
  border-bottom:5px solid red;
  background-color: #0094c8;
  opacity: .5;
}

.not{
  width: 50px;
}

#bigMazeContainer{
  /*background-color: orange;*/
  position: absolute;
  height: 400px;
  width: 100%;
  opacity: 1;
}

#landing{
  display:flex;
  position: absolute;
  justify-content: center;
  width: 700px;
  height: 500px;
  background-color: #0094c8;
  background-image: url('./images/jellies.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: white;
  flex-direction: column;
  text-align:center;
  font-size: 25px;
  opacity: 1;
  transition: opacity;
  font-family: 'Quattrocento Sans', sans-serif;
}

img{
height: auto;
width: 50%;
border: 1px solid black;
margin: 0 auto;
border-radius: 50px;
}

button{
  height: 50px;
  width: 150px;
  font-family: 'Knewave', cursive;
  margin: 0 auto;
  font-size: 15px;
  border-radius: 10px;
}

.winnerContainer{
  position: absolute;
  opacity: 0;
  background-color: rgba(0,148,200, .5);
  width: 625px;
  height: 425px;
  z-index: 1;
}

.winner{
  position: absolute;
  background-image: url('./images/scuba with treasure.gif');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Knewave', cursive;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  color: white;
  width: 630px;
  height: 425px;
}

