
*{
  /*border:1px solid red;*/
}

body{
    background-image: url('https://i.pinimg.com/originals/c7/c4/b9/c7c4b9bda7a42c1b6717680bae69ba2e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    dispaly: flex;
    justify-content: center;
}
.title{
  text-align: center;
  height: 200px;
  font-size: 40px;
  align-items: center;
}

#character{
  background: url('https://i.pinimg.com/originals/fa/6e/99/fa6e9982404529ce877ab8f1754ee111.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 61px;
  width: 100px;
  background-position: contain;
  top: 200px;
  left: 925px;
  position: absolute;
  color: black;
  font-size: 10px;
  z-index: 1;
}

.box{
  height: 100px;
  width: 100px;
  background-color: #0094c8;
  opacity: .5;
  margin: 0;
}

.maze{
  /*display: flex;*/
  background-repeat: no-repeat;
  border: 1px solid blue;
  background-size: contain;
  background-position: center;
/*  max-width: 700px;
  flex-wrap: wrap;*/
  justify-content: center;
}

.lilMaze{
  display: flex;
  max-width: 630px;
  flex-wrap: wrap;
  margin: 0 auto;
}
/*.box-container1{
  display: flex;
  justify-content: center;

}

.box-container2{
    display: flex;
    justify-content: center;

}*/


#box1{
  border-top: 5px solid black;
  /*border-right: 5px solid black;*/
  /*border-bottom: 5px solid black;*/
  border-left: 5px solid black;
}

#box2{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box3{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box4{
 border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box5{
 border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box6{
  border-top: 5px solid rgba(255,255,255,0);
  border-right: 5px solid black;
/*  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;*/
  padding-left: 10px;
}

#box7{
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  /*border-bottom: 5px solid transparent;*/
  border-left: 5px solid black;
}

#box8{
  border-top: 5px solid transparent;
*//*  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box9{
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box10{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /**/
}

#box11{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/}

#box12{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*//*  border-left: 5px solid black;
*/padding-left: 5px
}

#box13{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  border-left: 5px solid black;
padding-bottom: 5px;
}

#box14{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  /*border-bottom: 5px solid black*/;
/*  border-left: 5px solid black;
*/}

#box15{
  border-top: 5px solid black;
  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*//*  border-left: 5px solid black;
*/ padding-left: 5px;
}

#box16{
/*  border-top: 5px solid black;
*/  border-right: 5px solid black;
/*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black*/;
padding-bottom: 5px;
}

#box17{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*//*  border-bottom: 5px solid black;
*/  /*border-left: 5px solid black;*/
}

#box18{
/*  border-top: 5px solid black;*/
  border-right: 5px solid black;
  /*border-bottom: 5px solid black;*/
/*  border-left: 5px solid black;
*/ padding-bottom: 5px;
}

#box19{
/*  border-top: 5px solid black;
*//*border-right: 5px solid black;*/
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  padding-top: 5px;
}

#box20{
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/}

#box21{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
  /*border-left: 5px solid black;*/
  padding-top: 5px;

}

#box22{
/*  border-top: 5px solid black;
*/  /*border-right: 5px solid black;*/
  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/ padding-left: 5px;
padding-top: 5px;
}

#box23{
/*  border-top: 5px solid black;
*//*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
  border-left: 5px solid black;
  padding-top: 5px;

}

#box24{
  border-top: 5px solid black;
/*  border-right: 5px solid black;
*/  border-bottom: 5px solid black;
/*  border-left: 5px solid black;
*/}

#start{
  width:50px;
  border-top:5px solid red;
  border-bottom:5px solid red;
  background-color: #0094c8;
  opacity: .5;
}

#end{
  width:50px;
  border-top:5px solid red;
  border-bottom:5px solid red;
  background-color: #0094c8;
  opacity: .5;
}

.not{
  width: 50px;
}

#bigMazeContainer{
  /*background-color: orange;*/
  position: absolute;
  height: 400px;
  width: 100%;
  opacity: 1;
}

.hide {
  opacity:0;
}
